Host dreamhost
	HostName randolph.dreamhost.com
	User dwallraff
	IdentityFile ~/.ssh/gcp_vpn.key
	ServerAliveInterval 60

Host jumpbox
	HostName 162.243.249.123
	User dwallraff
	IdentityFile ~/.ssh/jumpbox.key
	ServerAliveInterval 60

Host gcp
	HostName 104.197.12.173
	User ubuntu
	IdentityFile ~/.ssh/gcp_vpn.key 
	ServerAliveInterval 60

Host *.amazonaws.com
	User ubuntu
	IdentityFile ~/.ssh/aws-dwallraff-pcf.key
	ServerAliveInterval 60
	StrictHostKeyChecking no
	UserKnownHostsFile /dev/null
	LogLevel QUIET

Host github.com
	User dwallraff
	IdentityFile ~/.ssh/github.key
	ServerAliveInterval 60
	StrictHostKeyChecking no
	UserKnownHostsFile /dev/null
	LogLevel QUIET

Host *
	ServerAliveInterval 60

#####
# Host remote
#     HostName 192.0.2.2
#     User username        
#     ServerAliveInterval 60        
#     ProxyCommand sh -c ">&2 echo 'Password is: XXXXXXXX'; ssh -T -i ~/.ssh/generic_key user@192.0.2.10 'nc %h %p'"
