Host dreamhost
	HostName randolph.dreamhost.com
	User dwallraff
	ServerAliveInterval 60

Host jumpbox
	HostName 104.236.251.145
	User dwallraff
	IdentityFile ~/.ssh/jumpbox_key
	ServerAliveInterval 60

Host *.amazonaws.com
	User ubuntu
	IdentityFile ~/.ssh/dwallraff-pcf.pem
	ServerAliveInterval 60

Host merrill
	HostName 10.238.198.4
	User dwallra
	ServerAliveInterval 60
	LocalForward 25255 localhost:25256
	ProxyCommand ssh -L 25255:localhost:25255 -T -i ~/.ssh/cloudops_key dwallraff@merrillcorp0.jb.cf-app.com 'nc %h %p'

Host *
	ServerAliveInterval 60
