Host dreamhost
	HostName randolph.dreamhost.com
	User dwallraff
	ServerAliveInterval 60

Host jumpbox
	HostName 104.236.251.145
	User dwallraff
	IdentityFile ~/.ssh/jumpbox_key
	ServerAliveInterval 60

Host *.amazonaws.com
	User ubuntu
	IdentityFile ~/.ssh/dwallraff-pcf.pem
	ServerAliveInterval 60

Host github.com
	IdentityFile ~/.ssh/github

Host *
	ServerAliveInterval 60

#####
# Host remote
#     HostName 192.0.2.2
#     User username        
#     ServerAliveInterval 60        
#     ProxyCommand sh -c ">&2 echo 'Password is: XXXXXXXX'; ssh -T -i ~/.ssh/generic_key user@192.0.2.10 'nc %h %p'"
