### Defaults

User dwallraff
IdentityFile ~/.ssh/generic.key
ServerAliveInterval 120
PreferredAuthentications publickey
GSSAPIAuthentication no
Include configs/*



### My stuffs
Host dreamhost
	HostName randolph.dreamhost.com
	ForwardAgent yes

Host jumpbox
	HostName 35.198.223.120
	IdentityFile ~/.ssh/gcp.key
	ForwardAgent yes

Host github.com
	IdentityFile ~/.ssh/github.key
	StrictHostKeyChecking no
	UserKnownHostsFile /dev/null
	LogLevel QUIET

Host sr.ht
	IdentityFile ~/.ssh/sr.ht.key
	StrictHostKeyChecking no
	UserKnownHostsFile /dev/null
	LogLevel QUIET
